//Grid variable here

$col-count: 12 !default;
$col-spacing: 10px !default;
$row-spacing: 10px !default;


//Breackpoint cariable
$bp-small: 562px !default;
$bp-medium: 768px !default;
$bp-large: 1024px !default;
$bp-xlarge: 1440px !default;

//Humberger menu
$menu-padding-x           : 15px !default;
$menu-padding-y           : 15px !default;
$menu-width         : 40px !default;
$menu-height        : 4px !default;
$menu-spacing       : 6px !default;
$menu-color         : #000 !default;
$menu-border-radius : 4px !default;
$menu-hover-opacity       : 0.7 !default;
